<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title %></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <form action="/vacuum/<%= vacuum._id%>/delete" id="sendMessageButton" method="post">
        <button type="submit" class="btn btn-warning btn-rounded btn-xl text-uppercase">Delete</button>
        </form>
        <br>
        <a href="/vacuum/index" id="sendMessageButton" class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">Cancel</a>
      </div>
      <div class="col-sm-8">
        <form action="/vacuum/<%= vacuum._id%>/edit" method="POST" >
      <input class="form-control form-group" type="text" placeholder="Why" name="why" value="<%= vacuum.why%>" required/>
      <input class="form-control form-group" type="text" placeholder="performance" name="performance" value="<%= vacuum.performance%>" required/>
      <input class="form-control form-group" type="text" placeholder="HEPA" name="hepa" value="<%= vacuum.hepa%>" required/>
      <button class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">Update</button>
    </form>


      </div>
    </div>
  </div>

</body>
<% include ../partials/script %>

</html>
