<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu_authenticated %>

  <div class="container-fluid bg-3 text-center">
    <h3><%= title%></h3><br>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group text-center">
          <a href="/survey/index" id="sendMessageButton" class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">All Surveys</a>

        </div>
        <div>
          <h5> Questions: </h5>
          <ul class="list-group text-left">
            <li class="list-group-item"><%= survey.q1%></li>
            <li class="list-group-item"><%= survey.q2%></li>
            <li class="list-group-item"><%= survey.q3%></li>
          </ul>
        </div>



      </div>

        <div class="col-sm-8">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <% for(var i = 0; i < answers.length; i++) {%>

              <tr>
                <td><%= answers[i].a1 %></td>
                <td><%= answers[i].a2 %></td>
                <td><%= answers[i].a3 %></td>

                </td>

                <td><a href="/answer/<%= answers[i]._id%>/edit" id="sendMessageButton" class="btn btn-primary btn-rounded btn-xl text-uppercase" type="submit">Edit</a></td>
                <td>
                </td>
                <td>
                  <form action="/answer/<%= answers[i]._id%>/delete" id="sendMessageButton" method="post">
                    <button type="submit" class="btn btn-warning btn-rounded btn-xl text-uppercase">Delete</button>
                  </form>
                </td>
              </tr>
              <% } %>

            </tbody>
          </table>
        </div>
      </div>
    </div>

</body>
<% include ../partials/script %>

</html>
